@import "tailwindcss";
.inputs{
    @apply px-4 py-2 transition duration-200 ease-linear bg-blue-200 border-0 rounded-sm focus:placeholder-transparent w-80 outline-0 placeholder:italic placeholder:text-sm focus:bg-gray-400;
}
@custom-variant dark (&:where(.dark,.dark *));

.sideBarItems{
  @apply w-full p-4 rounded hover:bg-blue-200 hover:dark:bg-gray-800 dark:text-gray-400 ;
}
@font-face {
  font-family: 'Shabnam';
  src: url('./fonts/Shabnam-Regular.woff2') format('woff2'),
       url('./fonts/Shabnam-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  text-align: right;
  font-family: 'Shabnam';
}
.floating-icon {
  display: inline-block;
  animation: floaty 1.5s ease-in-out infinite;
}

@keyframes floaty {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
